{% extends 'oauth2_provider/base.html' %}

{% load i18n %}
{% block content %}
<div class="block-center">
    {% if not error %}
        <form id="loginForm" method="post">
            <h3 class="block-center-heading">{% trans "Login" %}</h3>
            {% csrf_token %}

            {{ form }}

            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-large btn-primary" name="allow" value="Login"/>
                </div>
            </div>
        </form>

    {% else %}
        <h2>Error: {{ error.error }}</h2>
        <p>{{ error.description }}</p>
    {% endif %}
</div>
{% endblock content %}
